.footer{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: cadetblue;
}
.footer-list{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        list-style: none;
    }
}

.footer-link{
    text-decoration: none;
    color: #000;
        &:hover{
        color: rgb(194, 90, 90);
        transition: .3s;   
        }
}