@use "../abstracts/variables" as *;

.footer{
    height: auto;
    width: 100%;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: $color-white;
}
.footer-list{
    width: 100%;
    padding-inline-start:0;
    margin:1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        list-style: none;
    }
}

.footer-link{
    text-decoration: none;
    color: $color-gray-900;
    font-family: $font-primary;
    font-size: $font-size-sm;
    letter-spacing: 0.08em;
    text-transform: uppercase;
        &:hover{
        color: $color-gray-500;
        transition: .3s;   
        }
}