@use "../abstracts/variables" as *;

.contact{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:$space-4 ;
    padding-top: $space-4;
}
.contact-form{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1.5em;
    padding: $space-3;
}

@media (min-width: $bp-tablet) {
    .contact-form {
        width: 70%;
    }
}
@media (min-width: $bp-desktop){
    .contact-form{
        width: 50%;
    }
}
@media (min-width: $bp-wide){
    .contact-form{
        width: 40%;
    }
}