body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:blanchedalmond;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1px;
    background-color: darkslategrey;
    padding: 1rem;
}