---
---

<footer class="footer">
    <ul class="footer-list">
        <li><a class="footer-link" href="">Cosas</a></li>
        <li><a class="footer-link" href="">Cosas</a></li>
        <li><a class="footer-link" href="">Cosas</a></li>
        <li><a class="footer-link" href="">Cosas</a></li>
    </ul>
</footer>