---
---
<nav class="navbar">
    <ul class="navbar-list">
        <li><a class="navbar-link" href="">Home</a></li>
        <li><a class="navbar-link" href="">Cosas</a></li>
        <li><a class="navbar-link" href="">Cosas</a></li>
        <li><a class="navbar-link" href="">Contacto</a></li>
    </ul> 
</nav>