---
---
<nav class="navbar">
    <ul class="navbar-list">
        <li><a class="navbar-link" href="#hero">DAM</a></li>
        <li><a class="navbar-link" href="#about">Estudio</a></li>
        <li><a class="navbar-link" href="#grid-video">Filmes</a></li>
        <li><a class="navbar-link" href="#contact">Conversemos</a></li>
    </ul> 
</nav>