---
import '../styles/main.scss';
---

    <main>
        <section class="error-page">
            <a href="/" class="error-link-wrapper" title="Volver al inicio">
                <div class="error-content-video">
                     <video class="error-video" autoplay muted preload="auto" loop src="/videos/pulpo.mp4"></video>
                </div>
            </a>
        </section>   
    </main>
     

             