---
import '../styles/main.scss';
import Layout from '../layouts/Layout.astro';
import Cards from '../components/ui/Cards.astro';
import Grid from '../sections/Grid.astro'
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro'
import Contact from '../sections/Contact.astro';
---
<Layout>
    <main>
        <Hero/>
        <About/>
        <Grid>
            <Cards/> 
            <Cards/> 
            <Cards/> 
            <Cards/> 
            <Cards/> 
        </Grid>
        <Contact/>
    </main>
</Layout>